 <div class="card post">
     <%= link_to post_path(post.id) do %>
     <%= image_tag("https://i.picsum.photos/id/#{rand(1..800)}/400/450.jpg", class: "card-img-top") %>
     <% end %>
     <div class="card-body">
     <div class= "card-text"><%= post.content  %> </div>
     <% if post.likes.select { |like| like.user_id == current_user.id }.any? %>
      <%= link_to 'Downvote', like_path(post.likes.where(user_id: current_user.id).first.id), method: :delete, class:"btn btn-danger post-downvote" %>
    <% else %>
      <%= link_to 'Upvote', likes_path(post_id: post.id), method: :post, class:"btn btn-primary post-upvote" %>
    <% end %>
    <blockquote class="blockquote mb-0">
      <%= pluralize(post.likes.count, 'upvote') %> 
    </blockquote>
  </div>